[2013-05-20 02:19] owenversteeg opened #1 "IE 4 support"
Mostly hindered by IE4's apparent lack of color, spacing, and positioning abilities.

Also a major roadblock is that conditional comments only work in IE 5 and above.

IE4 is 15 years and 7 months old as of today (5/19/2013)

If I recall correctly, there is a hackish alternative to conditional comments for extremely early IEs.

[2013-05-20 02:21] owenversteeg opened #2 "Get min back to 995 bytes minified and gzipped."
Currently at 1114 bytes minified and gzipped.

Probably achievable by shortening of the input jumble that currently exists.

[2013-05-22 00:47] owenversteeg opened #3 "addon-front broken in IE5.5"
IE5.5 only for some weird reason; IE5, 5.01, and 6 all work fine.

Suggest adding .ie class; however, this'll likely take up a few extra bytes.

[2013-05-22 00:47] owenversteeg commented on #2
964 as of last commit.

[2014-01-02 07:49] shash7 opened #4 "min.less not loading on http://minfwk.com/beta.html"
min.less is not loading on http://minfwk.com/beta.html

[2014-01-02 12:17] daformat opened #5 "Improve focus style"
![capture d ecran 2014-01-02 13 15 49](https://f.cloud.github.com/assets/1694893/1832098/d3dc50c2-73a7-11e3-9be7-5543070267b5.png)

Maybe that's something to consider, even if it's gonna eat a few more bytes :)

[2014-01-03 00:59] owenversteeg commented on #4
Thanks for reporting this bug. It's supposed to include all the LESS files. I'll fix that right now.

[2014-01-03 01:23] owenversteeg commented on #5
Thanks for spotting that. It can be fixed two ways:
1) with `font-size: 0` applied to all `<a>` elements containing a button and `font-size: 40px` applied to all `<button>` elements. This causes the blue selection border to go around the button, and will probably cost a fair amount of bytes. I'll probably have to do quite a bit of refactoring to get enough free bytes to put it there.
2) we can go

[2014-01-03 01:50] owenversteeg commented on #4
Done.

[2014-01-03 01:50] #4 closed, assigned to nobody

[2014-01-03 17:59] daformat commented on #5
You're very welcome ! I would definitely go with 2, but maybe we could find a better way to indicate focus to the user. Even if it's ugly right now, it's definitely something you want to consider UX-wise. (my 2cents)

[2014-01-03 21:04] owenversteeg commented on #5
Hmm. If we go with 2, when a button is focused it will look the same as if it's rolled-over.

[2014-01-03 21:31] owenversteeg commented on #5
OK, I was able to get a 2 byte surplus by refactoring some stuff. This gives me a little more leeway for option 2.

[2014-01-10 03:43] owenversteeg opened #6 "New button styles"
Some people have criticized the current button styles, so this thread is where people can vote on button styles.

Current buttons:
![Buttons](http://i.imgur.com/HWc5MIk.png)

New button design A:
![Buttons](http://i.imgur.com/wayS7Nu.png)

New button design B:
![Buttons](http://i.imgur.com/vkS9cD6.png)

New button design C:
![Buttons](http://i.imgur.com/gnQiNLc.png)

Please vote (with comments) fo

[2014-01-10 03:45] owenversteeg commented on #3
.ie class has been added. Does the bug still exist?

[2014-01-10 22:38] owenversteeg opened #7 "Documentation"
Currently, there is absolutely no documentation to speak of.

This will be fixed by adding an example of each type of element underneath each element.

[2014-01-11 04:04] owenversteeg commented on #7
I've added usage guides under each element. If anyone wants more knowledge of Min, read the source code - it's remarkably short.

[2014-01-11 04:04] #7 closed, assigned to owenversteeg

[2014-01-14 03:50] sleepdeprecation commented on #6
Why have the rounded corners? Why not just get rid of the shadow? The shadow's the only thing that looks funky to me.

[2014-01-14 19:02] owenversteeg commented on #6
Hmm. I've added an option (C) which is the buttons with no rounded corners and no shadow.

That said, I don't think that the square buttons show affordance. To each their own, I suppose.

[2014-01-17 01:49] owenversteeg opened #8 "Some icons look screwy on OSX"
I tested the new icons on a Mac and noticed that a few looked screwy and a few didn't show up; I remember that the keyboard icon specifically was messed up.

I'll check the icons tomorrow and see if the font-size needs to be bumped up; however, I think the Unicode font also isn't getting applied for some reason.

[2014-01-17 20:49] scottaohara commented on #6
changing my vote to C.

[2014-01-19 04:50] owenversteeg opened #10 "Support chart"
Min should have a support chart like the ones at caniuse.

[2014-01-19 05:35] nsanden commented on #6
Definitely B

[2014-01-19 05:36] nsanden commented on #8
![min](https://f.cloud.github.com/assets/2072064/1948947/adc372b8-80cb-11e3-839d-cf1c29498ad1.png)

Also in Chrome on Windows

[2014-01-19 05:57] owenversteeg commented on #8
What you're seeing is not related to the OSX bug - but thanks for reporting it anyway. It's an issue in line 1 of buttons.less. (ico, button instead of i, button.) It'll be fixed right after the next PR.

[2014-01-19 05:58] owenversteeg commented on #6
I vote A

[2014-01-19 16:39] scottaohara opened #11 "Sass vs LESS or both?"
Decided to break this out of the pull request so as not to deter from that topic.

Now, as for a potential Sass version.

You're obviously right in that it would add double work to Min. With that in mind, I completely understand why you wouldn't want to take this on, which is why I wanted to bring your attention to it, rather than just creating a pull request for it.

I personally prefer Sass to L

[2014-01-19 16:47] scottaohara opened #12 "Demo/Documentation layout bug(s)"
In the index.html file that's part of the repo (as well as on http://minfwk.com/) when scaling the browser down to a smaller width, the documentation runs off the side of the page, creating a horizontal scroll bar.

If that's intended, due to the sample code being in pre tags, then disregard.

However, I don't imagine the code sample, in the Grid section, should be behaving the way it does as seen

[2014-01-19 17:48] #12 closed, assigned to owenversteeg

[2014-01-19 17:48] owenversteeg commented on #12
Done. Divs with .row class needed to have `overflow: none;` applied to them.

[2014-01-19 18:07] owenversteeg commented on #11
I think there are several points here:
- Is using Sass worth the extra work?
  - It might encourage more people to contribute, which is good. Also, you say you're willing to maintain the SASS version, so this point is almost moot.
- Is Sass more popular than LESS?
  - It doesn't look like it. [Google Trends](http://www.google.com/trends/explore#q=Sass%20CSS%2C%20LESS%20CSS&cmpt=q) seems to think L

[2014-01-19 18:23] scottaohara commented on #11
I would prefer to have it just be a folder within the main repo. As you said, it'd be better for contributors, and general discoverability for everything to be under one roof than having "duplicate" repos. Plus, it's your project and as such, you should be the owner of both :)

The division of labor (you pinging me when updates occur to the Less branch) sounds just fine by me.

As for file structu

[2014-01-20 22:59] owenversteeg commented on #11
Yep, that structure sounds good. If you want to fork it and make a PR I'll merge in your changes. I'm thinking to just put the Sass files in an (all-lowercase, to fit the naming convention) folder like the LESS files are - with each section (buttons, navbar, headers, etc.) in a separate file. If you could make a README.md for the sass folder that'd be great, and I can make one in the less folder.

[2014-01-20 22:59] #11 closed, assigned to nobody

[2014-01-20 23:38] scottaohara commented on #11
Cool.  thank you. I'll work on the readme and organize stuff and add it to the branch to merge.  I'll aim to get this done over the next day or two.

[2014-01-28 15:24] rofrol commented on #6
B

[2014-01-29 04:41] owenversteeg opened #14 "Separate positioning and visuals"
Currently, when someone reads through the codebase it's occasionally difficult to distinguish between a property intended for positioning and a property intended for visual effect.

For example:
- the first few lines of grid.less
- most places where padding is involved, the situation is ambiguous (especially for newcomers)
- a large portion of navbar.less

This could be fixed by marking positionin

[2014-01-29 13:13] scottaohara commented on #14
that works only if someone knows why certain properties are handled differently than others though. it also then becomes an unconventional coding practice that we would have to enforce on ourselves and other potential contributors.

It may make more sense to just extend documentation to explain what the code is doing.  I'm not sure about less, but in sass at least, there are sass-specific comments

[2014-01-29 17:55] owenversteeg commented on #14
Hmm, I see your point about an unconventional coding practice. These look like the options:
- Strange case
  - Pros: doesn't affect the CSS output, works with both LESS and Sass, is easy to use, doesn't make the (uncompiled) files larger, least verbose
  - Cons: unconventional coding style
- Comments
  - Pros: conventional, easy to use
  - Cons: more keystrokes, a bit more verbose
- Separate READM

[2014-01-30 03:10] scottaohara commented on #14
yeah, i'm still leaning towards either comments or the readme.

the con to comments isn't really that big of a con, as documentation either way is going to result in more keystrokes.  if anything, the con for comments would be that they would be harder to maintain as they would need to be updated across the two code bases.

the readme, while yes being in a separate file, would at least be all docu

[2014-01-30 04:09] owenversteeg commented on #14
Ok, sounds good. I personally prefer comments to a readme, and they're fairly easy to add. I think they should be inline, and only used when necessary.

I suppose the next step is to actually add the comments. Do you have any particular suggestions of where to add them?

[2014-01-30 11:49] scottaohara commented on #14
If they're comments that describe the file on a global scale, they should go at the top.  If they're describing a particular bit of CSS that's specific to a single line, it should go as close to that line as possible.

That's how I do it on my files / have seen others do it as well

Sent from my iPhone

[2014-01-30 18:32] owenversteeg commented on #14
Sounds good. I'll start adding more comments later.

[2014-01-30 19:46] enkrates commented on #6
I prefer B.

[2014-01-31 03:40] owenversteeg opened #15 "Bootstrap to Min converter is broken and needs to export code"
Currently, the Bootstrap to Min converter is broken due to recent changes. Try out the 1st or 3rd examples to see what I mean.

Also, there should be some way to export HTML.

[2014-01-31 04:01] hliyan commented on #6
B

[2014-01-31 12:16] owenversteeg opened #16 "Changing to a 12-column grid"
12 columns is more of an industry standard. Pure+Bootstrap use a 12 column grid as well.

If anyone has any reasons against this, please comment!

[2014-01-31 16:48] alfg commented on #6
C. Seems the most minimal.

[2014-02-01 01:59] mcallan83 commented on #6
B

[2014-02-01 03:42] owenversteeg opened #17 "Complete feature parity with Bootstrap"
Currently, Min is missing many features that Bootstrap has.

Features that may be implemented in Min core:
- Blockquotes: `blockquote { padding: 10px 20px; border-left: 5px solid #ccc; }`
- Blockquote citations: `blockquote footer:before { content: '\2014 \00A0'; } blockquote footer { color: #888; margin-top: 10px; }`
- Pre elements for code

Features that exist, but need to be documented:
- Itali

[2014-02-01 18:37] jboverfelt commented on #6
B

[2014-02-03 16:41] ghost commented on #6
C

[2014-02-05 03:15] ghost commented on #6
C

[2014-02-07 18:55] owenversteeg commented on #8
There are still a few that are messed-up looking. Using Arial Unicode MS fixes this somewhat.

[2014-02-09 02:00] owenversteeg commented on #5
Great, it looks like changes by @scottaohara indirectly made this much easier. I'm about to fix this now.

[2014-02-09 02:02] #5 closed, assigned to nobody

[2014-02-09 02:19] owenversteeg commented on #6
Thanks everyone for voting! In preparation for the launch of Min 2, I'm closing this issue. Here's the vote breakdown:

![Votes](http://i.imgur.com/eReSrB9.png?1)

# A (1)
- @owenversteeg

# B (6)
- @nsanden
- @rofrol
- @enkrates
- @hliyan
- @mcallan83
- @jboverfelt

# C (5)
- @dkuntz2
- @scottaohara
- @alfg
- @iamguiller
- @ramirovjr

If you prefer another button choice, feel free to say so. Reme

[2014-02-09 04:29] #6 closed, assigned to owenversteeg

[2014-02-09 04:40] owenversteeg commented on #6
hey @scottaohara could you check over my edit to [/sass/_button.scss](https://github.com/OwenVersteeg/min/blob/gh-pages/sass/_button.scss)? I think my LESS background shows when I push to the sass folder. (also, I killed some whitespace - not sure if you had that there for a reason.)

[2014-02-09 16:30] scottaohara commented on #5
I could still get this to reproduce.  Looks like it was partially due to the fact that there were <button> elements inside of `<a>` which is a mark-up no no.

Removing taking the `<button>` outside of the `<a>`, this issue went away.

[2014-02-09 16:49] scottaohara commented on #6
I just submitted a pull request for some updates to the sass branch.

There are a few things I've done in the button.scss that you should probably look at and see if you agree (mostly adding a display: inline-block; to the button, .btn selector).

I'm guessing the white space you were referring to was the extra line breaks between rulesets?  I do that just to make things a bit easier to read.  Sin

[2014-02-09 16:56] enkrates commented on #6
Please correct me if I'm wrong, but it seems to me that option (B) won the vote. In any case, thanks for all the work on this great little CSS framework!

[2014-02-09 17:50] owenversteeg commented on #6
@enkrates You're correct, thanks! I've updated the CSS and the chart accordingly.

[2014-02-09 17:56] owenversteeg commented on #5
@scottaohara You're correct - for Min 2 there are two ways to make a button: `<button></button>` and `<a class="btn"></a>` Neither involve nesting of button elements because nesting elements in an `<a>` is (as you said) a markup no-no.

[2014-02-11 16:56] owenversteeg commented on #8
Arial Unicode MS: OSX 10.5+ misses ☕ (coffeecup) and ⚡ (lightning bolt)
Lucida Grande: all OSX misses ⌚ (clock) ⌛ (hourglass) ☕ (coffeecup) and ⚡ (lightning bolt)
Lucida Sans Unicode: Windows 98+ misses ⌚ (clock) ⌛ (hourglass) ☕ (coffeecup) and ⚡ (lightning bolt)
Arial (Ubuntu): Ubuntu (unknown version) - contains everything and is the default sans-serif. Different from OSX's Arial.

Arial Unicode

[2014-02-11 17:02] owenversteeg commented on #8
We can also use ✆ U+2706 TELEPHONE LOCATION SIGN and ✎ U+270E LOWER RIGHT PENCIL if we use this font combo.

[2014-02-11 18:17] owenversteeg commented on #8
Mobile: WP7 supports Lucida Sans Unicode
iOS supports an unknown font that for some reason doesn't support ☙

[2014-02-11 18:17] #8 closed, assigned to owenversteeg

[2014-02-12 00:45] owenversteeg opened #19 "Input styling"
Some people mentioned how they disliked the input styles. Thus, I propose a vote similar to that of the buttons.

Current style (choice A):
![Current style](http://i.imgur.com/fD5VjFP.png)

Rounded borders (choice B):
![Rounded borders](http://i.imgur.com/bcphZhk.png)

Rounded borders and a shadow (choice C):
![Rounded borders+shadow](http://i.imgur.com/IuODfb2.png)

Shadow (choice D):
![Shadow](h

[2014-02-12 01:09] wuqi commented on #19
A

[2014-02-12 01:16] scottaohara commented on #19
Stick w/ A.

[2014-02-12 02:36] #16 closed, assigned to owenversteeg

[2014-02-12 02:47] owenversteeg commented on #14
With my recent commits this issue seems to be mostly resolved - in most places where files need comments they have them. I don't think strange casing is necessary.

[2014-02-12 02:47] #14 closed, assigned to owenversteeg

[2014-02-13 03:34] owenversteeg opened #20 "New website for Min"
Min's current website is quite outdated, and the source is kind of hideous in places. It's also slightly buggy.

The example page for Min 2.0 will be here: http://pasteht.ml/3M94h (the URL will still be minfwk.com, this is just a demo.)

This also features the new responsive navbar styling I hope to implement soon. Resize your browser window to test it out - it's entirely CSS-based, unlike Bootstr

[2014-02-16 08:07] owenversteeg commented on #2
With the latest commits that included the new navbar we're back up to 1162 minified and gzipped.

I'm not entirely sure how to cut out an entire 167 bytes - any ideas? My current strategy is just to go over every file with a figurative fine-tooth comb until I find something.

[2014-02-16 21:21] owenversteeg commented on #2
We're down to 1078 with the elimination of messages. 83 to go.

[2014-02-17 00:40] scottaohara commented on #2
making some modifications to the sass & less files to try and help out with this.

question, did you change the .btn-small to .small-btn on purpose?  just wondering because it doesn't follow the naming conventions for the other buttons anymore (btn-a, etc) and the less files were different than the sass and demo site classes which used btn-small.

also, we could rename it as btn-s or btn-sm to ind

[2014-02-17 01:09] scottaohara commented on #2
looking through the navbar code right now, this seems to be an area where there could be considerable condensing.

for instance, there is a new declaration for
nav {
 background: #000;
}

but everything else requires the .navbar class to complete the styling.

should everything instead be based off the nav selector, or should the background color associated with that selector just be brought into

[2014-02-17 02:58] owenversteeg commented on #2
As a matter of fact, everything was combined into the .navbar class until yesterday, when I decided that it would be better to use the `nav` HTML5 element for two reasons:
- It's more semantically correct
- It enables us to use the `.container` class on the navbar, which makes it the same size as the rest of the page. This makes everything look more consistent - as a matter of fact, this also slig

[2014-02-17 15:55] owenversteeg commented on #2
To further elaborate on the navbar changes - the previous navbar was a constantly-expanded navbar. This was disadvantageous because if a page has a navbar, that's the first thing someone's going to see when they visit the page - they'd have to scroll down to see the actual page.

The current navbar remedies this problem by only expanding when tapped. It has a navicon, or hamburger menu, or whateve

[2014-02-19 01:40] scottaohara commented on #2
I got the Sass version down to 995 bytes

See my latest push in the update pull request

[2014-02-19 07:54] owenversteeg commented on #2
Woo! I did it! And we didn't even have to lose rounded corners! See 3519063

[2014-02-19 07:54] #2 closed, assigned to nobody

[2014-02-20 22:48] owenversteeg commented on #19
I'm going to keep them as-is; if people make enough of a ruckus I might open this issue in the future.

[2014-02-20 22:48] #19 closed, assigned to nobody

[2014-02-20 23:25] owenversteeg commented on #10
Kindle support: lacks ⚘ (flower), ⚒ (work), and ⚔ (crossed swords) icons.

[2014-02-21 05:36] owenversteeg commented on #10
Windows lacks:

⚛
⚰
♱ ⚑ ⚘ ☙
⚒ ⚥
⚔ ⚢ ⚣ ⚜ ⚒
⚱ ♰ ⛷⛸⛂

But Windows supports:
෴ ฿ ๏ ຊ ຮ ༓ ៙ ※ ‽ ₧ ₨ ₩ ₪ ₫ € ₭ ₮ ₯ ₰ ₱ ₲ ₳ ₴ ₵ ₸ ₹ ₺ № ⌫ ⌬ ⍟ ◍ ☪ ☯ ✇ ✶ ✸ ✹ ✺ ✿ ❊ ❋ ❧ ❦ ￥ ￡ ￠ ✝ ✞ ✟ ۩

I should check if these icons work on OSX/iOS.

[2014-02-23 06:54] owenversteeg commented on #10
browsershots and browserling are great for this.

[2014-02-23 06:56] owenversteeg commented on #10
http://pasteht.ml/cwQ02

[2014-02-25 09:02] chrisdotcode commented on #20
Hello there, I've been a huge fan of min since I saw it first on HN. JavaScript-less feature-parity with bootstrap in around a kilobyte sounds like a dream, and I'd like to start helping out :)

On to the link:

After viewing in both firefox and chrome, it doesn't seem the that navbar actually has any styling at all. And neither do the messages. They just appear as plain HTML to me.

And speaking

[2014-02-25 12:27] scottaohara commented on #20
heya chris,

a lot of the stuff you mentioned has been addressed in the work that's being done on Min.  Check out the latest Less & Sass files in the repository.

However, you bring up a topic that I had been meaning to ask myself.  While messages aren't part of the main Min framework anymore, I also was wondering what the thought on using &lt;imessage> and &lt;ico> was, since they're not part of

[2014-02-26 17:25] owenversteeg commented on #20
@scottaohara Good point. I removed `<message>` elements already and I think it'd be a great idea to change `<ico>` elements to `<span class="ico">`s. Bootstrap uses `<i>` but [about 65% of people don't think this is semantically correct.](http://stackoverflow.com/questions/11135261/i-tag-for-icons)

[2014-02-26 17:37] scottaohara commented on #20
i'll push an update to change this later today, unless you get to it first

[2014-02-27 00:39] owenversteeg commented on #1
After extensive testing on Windows I have concluded that this is not possible, considering Min's 995 byte size limit. Feel free to comment with further information.

[2014-02-27 00:39] #1 closed, assigned to owenversteeg

[2014-02-27 00:42] owenversteeg commented on #20
@chrisdotcode That's an old page - I forgot to update the link. The current latest is at http://pasteht.ml/cwQ02. As a matter of fact, 12-column grids have already been committed (issue #16) and will be used in the upcoming Min 2.0 release (as @scottaohara said.) You can also see them on the updated demo page.

Also, I'd love it if you could help out with Min! If you're looking for something to do

[2014-02-27 03:19] owenversteeg commented on #20
I've revised the page even further, adding information about the percent of browsers supported. http://pasteht.ml/21f15

[edit] Latest page is at http://pasteht.ml/50h26

[edit edit] Latest page is at http://pasteht.ml/Rg0B0

[2014-03-01 02:27] owenversteeg commented on #17
Might want to look into lines between tables instead of striped tables

Use .table instead of <table> (so as to not interfere with plugins/other uses of tables)

Hover rows: `.table.hoverable tbody tr { background: #ddd; }`

Condensed tables: `.table.condensed td { padding: 5px; }`

Colored table rows: `.table tr.active { background: #ddd; } .table tr.success { background: #cfc; } .table tr.info {

[2014-03-20 01:31] owenversteeg opened #23 "Arch Linux input addon-front compabitility"
For some reason, Chromium on Arch Linux displays `addon-front`s weirdly (depending on the fonts installed.)

After digging deeper, I found out that this is caused by Chrome specifying

[code]

This happens due to the fact that Gnome only installs some of the fonts that Chrome likes by default. Thus, `addon-front`s are displayed in the default sans-serif font and `input`s are displayed in the defau

[2014-03-24 17:36] chrisdotcode commented on #20
Sorry about the stagnant reply, I'll check through the issues and see how I can help :)

[2014-03-29 01:23] owenversteeg commented on #20
@chrisdotcode That'd be great, thanks! The only thing (pretty much) standing in the way of Min 2.0 is Bootstrap compatibility. Check out issue #17 and comment in the style of the original comment if you can. If you're better at JS, check out #15.

[2014-06-15 16:28] owenversteeg commented on #10
XP IE6 doesn't support ⌘ ⌨ ⍨ ෴ ຊ ຮ ༓ ₫ ₹ ⌫ ⌬ ⍟
XP Chrome doesn't support all the ones XP IE doesn't support plus ☪ ☯ ✇ ✶ ✸ ✹ ✺ ✿ ❊ ❋ ❧ ❦ ￥￡ ￠ ✝ ✞ ✟
Gnome Arch doesn't support ⓧ 〠 ෴ ๏ ༓ ۩
W7 IE8 doesn't support ⌨ ⍨ ₹ ⌫ ⌬ ⍟
W7 FF supports everything (weird)
iPad/iPhone iOS 5 supports everything but ₹
iPhone 5 supports everything
W7 Opera supports everything
W8.1 FF supports everything
OSX Snow Leopa

[2014-06-15 16:29] owenversteeg commented on #3
Nope. It's fixed now.

[2014-06-15 16:29] #3 closed, assigned to nobody

[2014-06-15 16:38] owenversteeg commented on #10
Full list: ✉ ✰ ☁ ⌘ ☎ ✈ ☑ ☒ ✆ ♂ ♀ ☀ ☮ ☢ ☠ ☣ ⌨ ⓧ © § ® ⌂ ℗ ☺ ☻ ☼ ⇦ ⇧ ⇨ ⇩ ∡ ∿ ⊝ ⊘ ⁂ ☤ ♠ ♣ ♥ ♦ ♪ ♫ ♛ ♜ ♝ ♞ ♟ ☄ ✎ ☟ ☜ ☝ ☞ ☹ ☭ ☚ ☛ ✌ 〠 ♨ ☃ ♭ ♮ ♯ ☂ ☸ ✍ ☯ ⍨ ✂ ෴ ฿ ๏ ຊ ຮ ༓ ※ ₧ ₨ ₩ ₪ ₫ € ₹ № ⌫ ⌬ ⍟ ◍ ☪ ☯ ✇ ✶ ✸ ✹ ✺ ✿ ❊ ❋ ❧ ❦ ￥￡ ￠ ✝ ✞ ✟ ۩

Clearly, ⌘ ⌨ ⍨ ෴ ຊ ຮ ༓ ₫ ₹ ⌫ ⌬ ⍟ ☪ ☯ ✇ ✶ ✸ ✹ ✺ ✿ ❊ ❋ ❧ ❦ ￥￡ ￠ ✝ ✞ ✟ and ෴ ຊ ຮ ₹ have to go
This gives full XP/W7/iOS/W8/OSX support, but leaves Kindle Fire HD/Android in the

[2014-06-18 21:00] bebraw opened #24 "Release through Bower"
It would be nice to have `min` available through Bower registry.

[2014-06-26 04:58] #24 closed, assigned to owenversteeg

[2014-06-26 06:04] owenversteeg commented on #24
Okay, after struggling with Bower's idiocy for an hour, `bower install min` finally works.

Warning: rant below

---

According to Bower, all repos must have a master branch that contains the latest stable version. What if they don't, like Min and several other popular repos? Well, that means that another repo has to be created and kept up to date. Groan.

That other repo is now https://github.com

[2014-06-26 07:46] bebraw commented on #24
@owenversteeg You can avoid that issue by mirroring `master` to `gh-pages`. I've set up the following bin script for myself. You could also implement it as a git plugin I guess. Maybe a git alias would work too.

Here's the script:

[code]

If you do this you can get rid of the other repo and keep things nice and simple. Also tags get pushed (important for Bower versioning) automatically.

[2014-06-27 00:52] owenversteeg commented on #24
Ehh, I think I'll stick with the structure I have. First of all, I don't want to add a master branch, second of all, if I edit something using the web interface the script won't work, and finally, Min is structured in such a way that the gh-pages branch is unstable; the tagged releases are the stable versions. Thus, if I mirror gh-pages and master Bower still won't work correctly. Thanks anyway th

[2014-06-27 06:52] bebraw commented on #24
Sure, no problems. :)

[2014-07-17 02:42] owenversteeg commented on #17
Move `-webkit-appearance: none` to the `textarea, input[type='text'] {width: 13em;}` area, this way it doesn't screw up checkboxes. Also, add some kind of selection indicator for radio and checkboxes.

[2014-07-21 08:00] owenversteeg commented on #17
Disabled inputs: `.disabled label, input[disabled], textarea[disabled], .label.disabled { cursor: not-allowed; }`

Inline checkboxes/radiobuttons: `.checkbox-inline, .radio-inline { display: inline; }`

For Bootstrap-style forms: `label[for] { font-weight: bold; text-align: right; padding-right: 10px; } form .c10 { width: 83.33%; margin: 0; display: inline-block; } form .c2 { display: inline-block

[2014-07-25 09:51] owenversteeg commented on #17
Done. https://github.com/owenversteeg/min-bootstrap-plugin :shipit:

[2014-07-25 09:51] #17 closed, assigned to owenversteeg

[2014-07-25 09:55] owenversteeg commented on #10
Part of the new site, and it looks great. :shipit:

[2014-07-25 09:57] #10 closed, assigned to owenversteeg

[2014-07-27 07:41] owenversteeg commented on #20
New site was pushed with Min 2.0. Check it out!

[2014-07-27 07:41] #20 closed, assigned to nobody

[2014-07-27 08:27] cvrebert opened #26 "input addon's height doesn't match input's height"
Screenshot of part of the docs website in Chrome on Mac OS X:
![input_addon](https://cloud.githubusercontent.com/assets/419884/3713404/b1024fd6-1567-11e4-9a42-f10c6f5b8dda.png)

[2014-07-31 20:52] #26 closed, assigned to owenversteeg

[2014-07-31 20:52] owenversteeg commented on #26
Thanks for reporting this! Fixed.

[2014-07-31 21:00] owenversteeg opened #27 "Update Sass version to include changes from LESS version"
Min's LESS part is at the point where I can tag it as 2.0 and :shipit: shipit, but the Sass version is still stuck in the dark ages in many places.

I'll do what I can now, but since Sass is more your specialty I think you (@scottaohara) should also take a look at it.

[2014-07-31 21:04] owenversteeg opened #28 "Final browser testing"
As I'm discovering (thanks partially to @cvrebert) Min may have a few browser/OS bugs still left to work out. Hopefully #26 was the last, but I'll be checking on different platforms with the help of @saucelabs and their generous donation of an unlimited Sauce account.

[2014-07-31 21:09] owenversteeg commented on #28
Full support:
- Ubuntu 12.10 Chrome 29
- iOS 7.1 iPhone Safari
- Ubuntu Opera 12
- Android 4.0 Default Browser
- Android 4.0 Firefox 5.0
- OSX Mavericks Firefox 30
- Win8 Firefox 30
- Win7 Firefox 25
- iOS 7.1 iPad Safari
- iOS 4.3 iPad Safari
- iOS 4.3 iPhone Safari
- OSX Mountain Lion Safari 6
- WinXP Opera 11
- iOS 6 iPad Safari
- iOS 5 iPhone Safari
- Win8.1 IE11
- Win8 IE10
- Win8.1 Chrome 36

[2014-07-31 23:44] scottaohara commented on #27
Sounds good. I'll take a look at this asap

[2014-08-01 03:16] owenversteeg commented on #27
Merging in #29 closes this, yay!

[2014-08-01 03:16] #27 closed, assigned to scottaohara

[2014-08-01 17:12] cvrebert opened #30 "Funky gradient on form controls in Android Firefox"
Probably due to the quirks mentioned in:
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Gecko_notes
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Notes
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea#Gecko_notes

[2014-08-01 20:31] owenversteeg commented on #30
Hmm. I don't have an Android device - I just use the free account @Saucelabs gave me for being an open-source project. I'll try to take a look at this with Browserstack.

[2014-08-01 21:47] owenversteeg commented on #30
Just reproduced using http://spoon.net/browsers. It's fixed and I'll push the fix soon but now for some reason there's an issue with the input height. GRAAAH. On the plus side I also found out what was causing the navbar bug on Android 2.2 default browser.

Thanks for reporting this (and all the other bugs!)

[2014-08-01 22:02] owenversteeg opened #31 "Input height difference on Firefox Mobile"
![Screenshot](https://cdn.mediacru.sh/m3EyNhgu_Nk2.png)

GRAAAH

I'm going to put this off to Min 2.5 as it's an extremely small visual bug that affects a very small number of people. Plus I can't find a fix that doesn't take up a lot of space. Any suggestions?

[2014-08-02 00:20] scottaohara commented on #31
is that being caused by the inner padding that firefox adds to many of it's form elements?

[2014-08-02 00:54] owenversteeg commented on #31
I just tested it on Firefox 30 OSX and Firefox 30 Linux and Firefox 30 Windows and neither displayed the same bug, so I doubt it. Besides, we reset a bunch of stuff on inputs which should take care of that.

[2014-08-02 02:54] owenversteeg commented on #28
OK, it seems that http://pasteht.ml/5s5S4 works pretty much everywhere. Closing.

[2014-08-02 02:54] #28 closed, assigned to owenversteeg

[2014-08-02 05:35] owenversteeg commented on #28
Might be a good idea to check if the homepage has any bugs on these platforms: http://pasteht.ml/m25fw

[2014-08-02 05:53] cvrebert commented on #28
Where are you getting that 5% figure for Android 2.3?
https://developer.android.com/about/dashboards/index.html seems to give 13.5%

[2014-08-02 06:16] owenversteeg commented on #28
13.5% is for all Gingerbread versions. The ones affected are about 5%. When I'm back on my other machine I'll dig through my history and see where I got 5% from.

[2014-08-02 09:06] #30 closed, assigned to owenversteeg

[2014-08-03 03:30] scottaohara opened #32 "Update Sass to match Less"
adding this issue as a reminder to myself to continue to update the Sass files to fall in line with the additional changes that have been made to the Less branch.

[2014-08-03 13:53] #32 closed, assigned to scottaohara

[2014-08-03 16:30] owenversteeg opened #34 "Rename "Inputs" to "Forms""
Also, put all things relating to forms back in there. (Practically what you said to do in #33)

I'll either do this sometime later or if you want to do it now that's fine.

[2014-08-03 16:43] owenversteeg opened #35 "ABCSS-ify things"
http://www.scottohara.me/article/abcss.html

Although I'm currently using something close to property group ordering, it's not really consistent and ABCSS is much simpler. It's now a full month and a half after I swore I'd do this first thing in the morning, so I'm opening an issue.

It looks like @scottaohara's already done this for the Sass part so all I need to do is the LESS part.

[2014-08-04 01:07] owenversteeg commented on #35
fc297fe closes this

[2014-08-04 01:07] #35 closed, assigned to scottaohara

[2014-08-04 01:07] owenversteeg commented on #34
whoops, didn't mean to do that

[2014-08-07 06:52] #34 closed, assigned to nobody

[2014-08-07 08:56] owenversteeg opened #36 "Final things to do before the 2.0 release"
- [x] Fix #15
- [ ] Finish the Min Bootstrap plugin
- [x] Finish the Min Navbar plugin
- [x] Final (no, _really_ final this time guys) browser testing

[2014-08-16 04:25] owenversteeg commented on #36
"Press":
- http://www.webdesignerdepot.com/2014/02/whats-new-for-designers-february-2014/
- http://klocus.pl/4,pl,blog,entry-17-najmniejszy-framework-na-swiecie.html
- http://www.cssreflex.com/2014/01/min-the-995-byte-css-framework.html/
- http://www.reddit.com/r/ProgrammerHumor/comments/1u81f6/mays_law_software_efficiency_halves_every_18/cefkg0x
- https://twitter.com/gregkilian/status/43578796587

[2014-09-02 00:49] owenversteeg opened #37 "Extra 7 bytes - what do we do with them?"
Currently Min is at 988 bytes (caused by removing -front from the addon-front class (it didn't make sense to have there, as addon-front can be used on the back and front of an input) and reordering some stuff) so we have 7 bytes to do something with. Any ideas?

Adding messages (from the min+ plugin) adds 20 bytes, so that's probably not feasible. Maybe add some feature from Bootstrap?

@scottaoha

[2014-09-02 01:11] scottaohara commented on #37
nothing immediately comes to mind. but i'll think about this over the next few days.

[2014-09-02 02:01] owenversteeg commented on #37
Okay, I managed to get rid of even more stuff. I eliminated 24 bytes as of now.

I've changed my avatar to a hotdog because I'm on a roll.

A screenshot for posterity, as I'm going to have to change my avatar sometime or other: http://i.imgur.com/Dw35TTc.png

[2014-09-02 02:19] owenversteeg commented on #37
so I'm putting messages in for sure. Unfortunately we only have one color of message, but that's OK.

Here's what messages look like now: http://i.imgur.com/k07gsH5.png

Any recommendations for color? I like this combo (of #def and #44e.) You're the real designer though, so you'd probably be better at this kind of thing. That said you don't have much to work with given that we only have a 4096 col

[2014-09-02 10:56] scottaohara commented on #37
I actually like the background color of the message.

I was playing around with 59d as the left border hex.  what you think of that?

[2014-09-02 15:07] owenversteeg commented on #37
Ooh, nice. I really like #59d.

[2014-09-06 21:24] owenversteeg commented on #37
Okay, so I'm going to commit the changes I made and add in #59d. We still have an extra byte - enough to expand a hex triplet to a hex sextuplet if you want to change another color.  (gzip turns the extra 3 bytes into 1 extra byte.) I'm closing this though, as I'll add in messages.

[2014-09-06 21:24] #37 closed, assigned to nobody

[2014-09-06 21:42] owenversteeg commented on #37
Committed - 02cf36b33f

[2014-09-09 02:38] owenversteeg commented on #15
Works now.

[2014-09-09 02:38] #15 closed, assigned to nobody

[2014-09-09 02:39] owenversteeg opened #39 "Make Bootstrap->Min converter into a bookmarklet"
This is a hell of a lot easier than copying and pasting your <head> into the text field.

[2014-09-10 10:53] pcardoso opened #40 ""undefined" appears on the generated CSS"
On the download page, the generated CSS has

[...] "undefined.nav,.nav .current,. " [..]

It seems the "css" global (from compiledcss.js) lacks the "inputs" value.

[2014-09-15 00:40] owenversteeg commented on #40
aha, I knew I forgot something when I changed from "forms" to "inputs". Thanks.

[2014-09-15 00:40] #40 closed, assigned to owenversteeg

[2014-09-15 01:20] pcl opened #41 "Typo in home page"
https://github.com/owenversteeg/min/blob/8c6852bbb0b2ba8a1b72c2fc288ad8af024b8976/index.html#L211

It should presumably read "Pages built with Min can _load_ faster than a blink of an eye."

[2014-09-15 02:20] owenversteeg commented on #41
Yep, thanks! I'll fix that now.

[2014-09-15 02:21] #41 closed, assigned to owenversteeg

[2014-09-15 13:49] jakeburden commented on #31
Maybe it's the font-size not inheriting well?  It looks perfect on my browser, Firefox Aurora on Linux, but when I add 'font: inherit' to that input field I get the same visual bug.  Strange, but may be something fun to look into!

[2014-09-15 17:08] owenversteeg commented on #31
This is on Firefox Mobile and doesn't seem to affect any other Firefoxes, so I'm not surprised it works on  Aurora.

What you said about the font is interesting though - I'll look into it when I get home, thanks!

[2014-09-15 17:34] jakeburden commented on #31
Yeah I don't own a device with Firefox Mobile, but still wanted to see if there was anyway to help out by trying to break it on my version of FF, cheers!

[2014-09-15 22:28] calzoneman commented on #31
@owenversteeg I'm seeing the same issue on Firefox 35.0a on Linux.  It doesn't happen if I zoom in by 1 level (110%).  If there's any testing I can do, let me know.

[2014-09-16 00:58] owenversteeg commented on #31
@calzoneman Hmm, weird. What distro do you use, and what font does the input end up using? If you can't visually identify it I'd check in FF settings or use something like the WhatFont bookmarklet. Since I can't reproduce what you're seeing hopefully you can do some minor debugging for me: try changing the font size, input padding, font family, and anything else you think would work.

@JacobJWBurd

[2014-09-16 01:12] calzoneman commented on #31
I'm using Arch Linux with the Infinality font rendering patches for fontconfig.  My sans-serif font (which is used in the textbox) is DejaVu Sans.

The following are what I've tried on the input box that fixed it:
- Manually override font to `Liberation Sans` (I'd rather not do this permanently; relying on a specific font family in order to have it align properly seems like a bad idea)
- Set `font

[2014-09-16 01:19] jakeburden commented on #31
My original post was from a Ubuntu 13.10 box, I'm currently on using Ubuntu 14.04.  Looks good on both distros.  It's rendering DejaVu Sans for me as well.

My guess would be to experiement with 'font: inherit' on both the span and input, that has in interesting effect.  But obviously the point of this framework is to stay as small as possible, so there may need to be more testing.

[2014-09-16 16:44] klingtnet opened #43 "<span> addon not the same height as input on Firefox (32.0.1)"
See the screenshot below:
![minfwk_bug_span_firefox](https://cloud.githubusercontent.com/assets/1538057/4290996/99ed3898-3dc0-11e4-971a-c9332b6a0535.png)

[2014-09-16 21:12] owenversteeg commented on #43
Using my magic psychic powers I will guess that either you have customized font settings or you are on Linux, and most likely not using a popular distro either (I've tested this on popular distros.) :smile:

In all seriousness: What OS are you using, and do you have any customized font settings? Thanks!

[2014-09-16 21:38] klingtnet commented on #43
Your magic psychic powers are working :smiley:
It's Firefox running on 64bit Arch Linux (kernel 3.16.2-1, Gnome 3.12) without customized font settings. Checked it on a different machine running the same os and browser version resulting in the same height difference.

[2014-09-16 22:18] owenversteeg commented on #43
Yep, Arch has problems with addons due to it not coming with a good set of sans-serif fonts. I use Arch myself, and problems with Arch and Chromium involving addons are documented in #23. Given the extremely small number of people using Arch, and given that most Arch installs are vastly different from each other, I think that this is something that can be postponed, or in the worst case ignored. T

[2014-09-17 02:40] owenversteeg opened #44 "New name (kinda)"
Someone suggested that we use mincss.com instead of minfwk.com, as it's much more readable. I liked this idea, so I snapped up mincss.com.

Min will still be named min, the only change will be everywhere we use minfwk to change to mincss. This also goes for the organization name - I reserved the mincss name, now I only have to change all the URLs and whatnot to point to the new URL.

[2014-09-17 08:18] klingtnet commented on #43
I've read issue [#23](https://github.com/owenversteeg/min/issues/23) and thank your time spend investigating this issue. Even if this affects only a very small portion of users, I've done the following modification to fix this issue on my system:
Increasing the `font-size` of `textarea,input,.addon,.btn-sm,.nav a` from `14px` to `16px` fixes the problem in Firefox, while still looking nice on chro

[2014-09-23 19:46] frrrnd opened #45 "Syntax error in _grid.scss"
Remove comma (,) from last item on $grid-list.

[2014-09-23 19:49] frrrnd opened #46 "Extend error on _table.scss"
Remove % on .table { @extend %w-100; }

[2014-09-23 21:32] scottaohara commented on #46
thanks!

[2014-09-23 21:32] #46 closed, assigned to nobody

[2014-09-23 21:32] #45 closed, assigned to nobody

[2014-09-23 21:43] owenversteeg commented on #45
206e0ad closes this

[2014-09-23 21:44] owenversteeg commented on #46
206e0ad closes this

[2014-10-08 18:02] bnb opened #47 "box-sizing: border-box"
`box-sizing: border-box;` has become the industry standard because it gets the developer more precise results on the code they're working on. I don't think I've seen a boilerplate framework that doesn't use it. I just threw a min navbar into a site using

[code]

and the nav bar is ruined--the background doesn't strech the full length. Making the framework fully compatable with `box-sizing: border

[2014-10-08 18:03] bnb commented on #43
I'm on Win8/FF latest with no custom font settings, and I have the same problem. Noticed immediately when I went to the docs.

[2014-10-08 18:07] bnb opened #48 "Customized Download doesn't work on Firefox Latest"
When I first tried the Customized Download feature, it didn't work. I attempted several more times, and it still didn't work. I eventually had to go to IE to finagle it into working, which it did on the first try. Using Win8/FF Latest.

[2014-10-08 19:38] owenversteeg commented on #47
Adding `box-sizing: border-box` to Min core isn't going to happen:
- IE7 and below don't support it, IE8's implementation is buggy, and IE9's implementation is inconsistent with other browsers/the spec
- Android browser's implementation is ridiculously buggy
- It needs to be prefixed in a lot of browsers
- Adding it would make Min significantly bigger
- Adding it would require adding Javascript, d

[2014-10-08 19:38] #47 closed, assigned to nobody

[2014-10-08 19:47] bnb commented on #47
Would definitely like to get that plugin. I've used `box-sizing: border-box` in a couple projects, and never want to go back.

[2014-10-08 19:56] exside commented on #47
you could also use the .htc polyfill from https://github.com/Schepp/box-sizing-polyfill, but ya, still it's js and old Androids are also not supported I guess

[2014-10-24 22:45] cdiener opened #49 "Update CDN version?"
Hi guys. This is more of a request than a bug.
Would it be possible to update the CDN version of min.css to something a bit more current. As it seems the webpage is already ahead of the CDN and, due to that, some of the examples from the "docs" section do not work with the CDN version of min.css.

For instance the button styling has changed a lot. The version of min.css used and described on the w

[2014-10-25 01:19] owenversteeg commented on #49
Sorry for the confusion! The reason that you see this is because the website shows Min 2.0. I was prepping for its release by changing the site over to Min 2.0. The CDN has Min 1.5.

Min 2.0 should be released soon, and when it is the CDN will be updated as well.

[2014-10-29 01:15] cdiener commented on #49
Ok, that explains it :) So I will link to a local version for now and switch to the CDN when it is updated to 2.0.
I guess the issue can be closed. Keep up the great work.

[2014-10-29 02:39] owenversteeg commented on #43
I am sadly marking this as wontfix, as this only affects a portion of users running Arch Linux, which is an extremely small number of people.

@bnb I can't reproduce this on my Windows/Firefox combos so I'm going to guess that your machine is somehow customized in a way that causes this bug. Again, no known fix and affects a very small portion of users.

[2014-10-29 02:39] #43 closed, assigned to owenversteeg

[2014-10-29 02:41] owenversteeg commented on #23
Despite what it may look like, this is not a dupe of #43; although both issues describe the same symptoms the underlying causes are different. In this case the underlying cause has been addressed, so I'm closing this issue. (#43 was closed as wontfix; read it for why)

[2014-10-29 02:41] #23 closed, assigned to nobody

[2014-11-25 23:41] kay-is opened #51 "List Groups"
I'd like to see those list-groups in min :)

http://getbootstrap.com/components/#list-group

[2014-11-26 05:48] owenversteeg commented on #51
Hi! Although list groups will almost certainly not become part of Min core, these will certainly be supported via the Min Bootstrap plugin. (They have not been added yet, but will be) I would advise you to use that.

[2014-11-26 05:48] #51 closed, assigned to owenversteeg

[2014-11-26 15:37] kay-is commented on #51
Sad to hear. Didn't want to use the whole plugin. Also the docs claim it supports all of the Bootstrap features, but you say no?

[2014-11-26 16:31] owenversteeg commented on #51
I'm still adding a few final features to it - list groups are one of those. It does have most Bootstrap features so far though. I'm hoping to be able to finish it up this weekend.

The docs are the docs for Min 2.0, which will be released in tandem with the complete Bootstrap plugin. Although the version of Min you see on the site is practically identical to Min 2.0, the Bootstrap plugin is a bit

[2014-11-28 04:31] knurps opened #52 "Cannot add min component to https://rails-assets.org"
When trying to add min to https://rails-assets.org, as a component, I get the following two messages:
- min has no versions defined. Please create an issue in component's repository.
- No tag found that was able to satisfy 1.5

This seems odd, since https://github.com/minfwk/min-bower does have a tagged version of min (v1.5). However, I noticed that bower.json is available in the Master branch, bu

[2014-11-29 22:29] owenversteeg commented on #52
Sure! I'm away from my computer at the moment however, so I'll add it in when I get back home. If I don't do this in the next few days please remind me again.

[2015-04-22 02:21] as-com opened #54 "Can be even smaller"
[CSS Shrink](http://cssshrink.com/) is able to reduce the CDN version of min to 941 bytes gzipped.

You should consider using it instead.

[2015-04-22 04:27] owenversteeg commented on #54
It does this by removing the copyright/MIT License text. Unfortunately, this is not something that can be removed.

Thanks for the suggestion, though. I'm all ears for any other ways to reduce the size.

[2015-04-22 04:27] #54 closed

[2015-05-06 13:41] COLABORATI opened #55 "How to add additional breakpoints?"
Hi, great framework!

However, from looking at the source I am not 100% sure about what would be the best way to add one or two additional breakpoints for media queries and still keep compatibility with the grid and future updates. Would you like to explain in a few sentences what is the recommended method of adding, say at 320 and 720 pixels witdth? This would be very appreciated!

Thanks!

[2015-05-08 00:19] scottaohara commented on #55
for any custom code, you could always create separate sass or less partial files to add to the build.

specifically for the sass, as i know that more than less, you could create a separate folder to place your grid partial files in, and then the only file from the min framework you'd have to update is the master file (just include an import to you new file there).  that way if you ever want to pul

[2015-05-08 08:48] COLABORATI commented on #55
Ok, that was easy, thank you!

[2015-05-08 08:48] #55 closed

[2015-09-25 15:50] naasking opened #56 "Links in top menu don't work on small Chrome screens"
Desktop or mobile chrome, if you're viewing mincss.com in a small screen such that you see the mobile top menu, and you try to click a link in that menu, it simply collapses the menu and doesn't go anywhere.

[2015-09-25 15:55] naasking opened #57 "Firefox top menu issues"
In Firefox 40, if you shrink the screen horizontally until you see the mobile menu at the top:
1. the "x" close button shows underneath the menu expansion button
2. the "x" close button isn't bottom-aligned with the rest of the menu, ie. it's lower than the menu
3. if you click "Min" in this menu, it briefly shows the menu but then the browser reloads the page and it goes away; I believe your inte

[2015-09-25 15:55] naasking commented on #56
Same problem on IE11.

[2015-09-27 00:09] owenversteeg commented on #57
Hi! Thanks for reporting these issues. Much appreciated.

I just confirmed that 1) and 2) are issues. I'll get to work on fixing them.

For 3) that is the intended behavior, and most hamburger menus on most sites work this way (including default Bootstrap for one.)

[2015-09-27 00:11] owenversteeg commented on #56
Hi! Thanks for reporting this. Just confirmed on mobile and desktop Chrome, I'll confirm IE11 when I have a chance. @scottaohara do you have a Windows box running you can test this on?

I'll get to work on a solution ASAP.

[2015-09-27 01:56] naasking commented on #56
Sure, just post back here with a URL and I'll let you know.

[2015-09-27 15:52] scottaohara commented on #56
i'll take a look asap as well.  today's kind of hectic, but within the next few days i can probably get on this

[2015-09-28 13:08] scottaohara commented on #56
@owenversteeg confirmed that this is happening on IE11.

i have a solution that fixes basically all of the issues brought up around the nav, which includes a bit of restyling / using the :target pseudo selector instead of :focus to get the nav to open (ie/chrome are closing the menu due to the changing of focus from the <nav> to the nav links, and aren't registering the click because focus changes

[2015-09-28 13:11] scottaohara commented on #56
FYI in the index file I'm pushing, i'm referencing an uncompressed css file in sass/min-master.css.

figured i'd leave it in there for testing purposes as this is likely not the optimal solution at this time.

[2015-09-29 18:50] owenversteeg commented on #56
@scottaohara Oh great thanks! I just tested it on iOS and Android and it seems good. Only issue is that the padding for the close button hangs off the navbar, so that may need to be fixed.

[2016-02-08 17:45] bgbs opened #59 "Planning to switch to flex grid anytime soon?"
Love your tiny framework, wondering if you're planning to integrate flex grid.

[2016-02-14 23:52] barknezz opened #60 "Multicolum listing?"
Hey! Is there any way to create a multicolum listing with ul, li tags? Thanks.

[2016-02-17 15:40] fabaff commented on #48
Still not working...Firefox 44.0

[2016-03-13 09:17] franciscop opened #61 "Redirect to mincss.com"
Hi, I like the simplicity of the project since you commented on HN on a thread on [Picnic CSS](http://picnicss.com/). I added it to my README.md as an alternative to Picnic, but apparently it has even since changed the domain name [as per this pull request](https://github.com/picnicss/picnic/pull/83#issuecomment-195917299).

But as I search the web, there are [**many** references to minfwk.com](ht

[2016-03-14 05:25] owenversteeg commented on #61
Thanks! Also, "invasive CSS" is a fascinating idea and I'm happy to see a project out there doing it. Even though it's not really something I would use I have to say it's really cool and definitely keep up the great work. Congrats on passing 1k stars btw!

Also, as I posted in picnic/#83:

The relevant issue over here is #44 (for my reference.)

[2016-03-14 05:25] #61 closed

[2016-05-17 16:23] riggtravis opened #62 "The Bower version of Min and the version on the website are wildly different"
I'm currently using min to build a website. For previous projects using min I downloaded min myself because it was the only client side asset I needed to handle. For this project I'm using Bower because I have a bunch of client side assets. I set up my classes and stuff the same way I always did, but when I loaded up the page it looked awful.

Bower min is missing the following classes:

1. btn-cl

[2016-06-12 07:06] owenversteeg commented on #59
Thanks!

Unfortunately, due to Min's extensive browser support the mainline version of Min will not be switching to the flex grid. If you, or anyone else, would like to make a flex grid plugin I'd be very happy to promote it on Min's site and here on Github.

[2016-06-12 07:06] #59 closed

[2016-06-12 07:09] owenversteeg commented on #62
Hey -- going through old issues and noticed this one a bit late, sorry. The version on Bower is unfortunately very out of date, which will be corrected with the release of Min 2.0 in a few days.

I'll confirm that this is actually fixed in a few days; if I forget to do this let me know. Thanks!

[2016-06-12 07:09] #62 closed

[2016-08-20 07:39] mguinness opened #64 "Right aligned menus"
I'm trying to emulate navbar-right class in bootstrap to right align some menu items.  The following appears to work, but is there a better way to do this?

[code]

[code]

[2016-09-02 13:58] NickHu commented on #49
+1 for this

[2016-10-31 17:32] naasking commented on #57
Just thought I'd check this out again, and it's still an issue in the latest Firefox.

[2016-11-15 12:37] skx opened #65 "Examples are broken due to mixed content."
The following example-pages are all broken:

* https://mincss.com/example.html
* https://mincss.com/example2.html
* https://mincss.com/example3.html

This is because a secure page cannot include resources from a non-secure location.

[2016-11-15 22:20] #65 closed

[2016-11-15 22:20] owenversteeg commented on #65
Whoops, thanks! Merged.

[2016-11-27 16:23] naasking opened #67 "Addon misalignments and other rendering issues"
On the example 3 page [1], the currency symbol addon to the input is slightly misaligned in Firefox. I can fix it by setting .addon style "padding: 8.5px 12px;" (or 9px), but this misaligns on Chrome. Same result from modifying the style "textarea,input,select", "padding: 7.5px".

I could only fix this by adding a Firefox-only css as such:

@-moz-document url-prefix() {
    textarea,input,select {

[2016-11-27 16:49] naasking commented on #67
Addons to a select element are seriously misaligned, even in Chrome and IE 11, and don't work with the above fix in Firefox. Here's the amended version that works in all of the above:

    select{ padding:7px; }
    @-moz-document url-prefix() {
        textarea,input{padding:7.5px;}
        select{padding:6.5px;}
    }

[2016-11-27 17:03] naasking commented on #67
Addons for a textarea don't align at all either, although this is likely an impossible case to match the ideal, which is that the addon height matches the textarea height.

Surprisingly, IE 11 gets closest to expectations: an addon for a textarea with rows="1" looks perfect (exactly like a text input with an addon). Alignment in FF and Chrome is all over the place.

An acceptable outcome would be

[2016-11-27 19:59] naasking commented on #67
Another weird rendering issue across all browsers:

    <div class="container">
        <form class="row">
            <div>
                <span class="addon">$</span><input type="text" value="foo!" />
            </div>
        </form>
    </div>

Addon renders with no left border. Adding class="col c10" to the wrapping div has no effect.

[2017-01-04 01:24] jimchoumobile opened #68 "FR: Menu wrap rather than menu button"
I find the Menu button feature which is activated when a menu is much larger than the screen width to be problematic.

On desktop macOS 10.12  / Safari 10.0.1:  I have to click and hold on the menu button for the menu to appear. While holding, I can't select any of the menu items. If I don't hold it the menu disappears.

On smartphone iOS 10.2 / Safari: When I click on the menu button the menu doe

[2017-05-07 21:11] Allen-B1 opened #70 "create seperate file for contributing"
Most projects have a CONTRIBUTING.md that is seperate from the README.md

[2017-10-03 10:18] deanishe commented on #56
Any news on this?

I downloaded Min and I'm having the same issue. On the mincss.com homepage, it seems to be fixed, however.

[2017-10-10 22:01] Allen-B1 opened #71 "Link broken"
The link to the [cdn](https://www.jsdelivr.com/#!min) is broken.

I found an alternative (if you want to use it): https://cdnjs.cloudflare.com/ajax/libs/min/1.5.0/entireframework.min.css

[2017-10-10 22:07] Allen-B1 commented on #71
Oops, that's an outdated version

[2018-04-03 15:19] #70 closed

[2018-04-03 23:15] #71 closed

[2018-07-13 21:49] thaeli opened #73 "CDN link on http://mincss.com/download.html links to Min database, not Min CSS"
Looks like the NPM package name has been transferred to a different project. The CDN link now goes to a page for MinDB which is completely different.

[2018-08-12 14:52] Hessel91 commented on #73
Is there a new link available to the correct location of the files over CDN?

[2018-09-10 20:11] owenversteeg commented on #73
I'm trying to find a suitable NPM package name right now, as min, mincss, and min-css are all taken. In hindsight, I should've registered on npm back when I created the project several years ago, but unfortunately I didn't.

If anyone has a good name that would work and isn't taken, please suggest it!

[2018-09-10 20:54] j-f1 commented on #73
npm has a [no-squatting policy](https://www.npmjs.com/policies/disputes) so you might be able to follow that process to get [`min-css`](https://www.npmjs.com/package/min-css) which is rarely downloaded, has a dead repository, and was last published four years ago.

[2019-01-15 14:40] ghost commented on #67
+ can't use  select/options element in "nav" class

[2019-09-08 22:50] cekvenich opened #74 "no reset?"
Is there a reset?
eg: https://github.com/jgthms/minireset.css/blob/master/minireset.sass

[2019-09-09 19:33] owenversteeg commented on #74
Yes (if I understand the question properly.) Min contains a number of reset styles, for example for font, margins, background, iOS styling, tables and more. These styles, however, are integrated as part of Min and are not intended for use separately, if that's what you're asking though. Does this answer your question, or did I misunderstand?

[2019-09-09 19:37] cekvenich commented on #74
Yeah, that is it. Love your lib. I plan to use it on our projects, both pages and custom elements/web components (since they are not affected by the page style). Thx.

[2019-09-09 19:37] #74 closed

[2019-09-15 19:47] owenversteeg commented on #74
Great!

Thanks a lot for the compliments by the way, I really appreciate it. If you've got any problems with implementing Min on your site you can also email me (owenversteeg@gmail.com)

[2020-01-05 03:59] yosun commented on #73
this is tangential but why not use https://cdnjs.cloudflare.com/ajax/libs/min/1.5.0/entireframework.min.css for your css cdn instead of jsdelivr (?)

[2020-01-05 04:01] yosun commented on #73
name ideas:

- minov.css (o. v.)
- golfmin.css
- mintiny.css
- mincache.css
- absmin.css
- themin.css
- minminmin.css or min.min.min.css

[2020-07-01 13:50] GBirch opened #75 "Styling of submit buttons"
The button styles do not apply to form buttons on IOS/Safari.  The stylesheet would seem to need a reset for this so that button styles behave predictably.  Something like this, perhaps?
[code]

[2021-01-01 04:53] owenversteeg commented on #75
That's a good point, thanks! I'll add that to a list for a new release I'm planning to put out soon.

[2021-01-01 04:55] owenversteeg commented on #73
So NPM has a policy to hand over unused repos, but unfortunately they haven't been responding at all over the last year. I've got another solution and am setting that up now!

[2022-02-04 21:52] cybardev commented on #73
Any updates on this issue? A CDN link would be really handy.

[2022-02-11 18:34] owenversteeg commented on #73
Thanks @cybardev for reminding me - yep, I've got a solution coming up in the next week or so :)

[2022-10-02 16:56] Iliannnn commented on #73
@

Any update on this?